nav{
    border: 2px solid white;
    height: p5px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}



.logo{
    width: 25%;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    color-scheme: var(bolder);
}


.menu{
    color: white;
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}